.table{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
.name_game{
    border: 2px solid black;
}
.time_game{
    border: 2px solid black;
}