body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
  background-color: #5c9bd5;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr {
  background-color: #e9eff7;
}

tr:nth-child(even){background-color: #d1dfee;}

.smallest-time {
  background-color: #fbe4d4 !important;
}

