
.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
 
  .start-title {
    font-size: 80px;
    color: red;
  }
  

  .start-link {
    text-decoration: none;
    color: white;
    background: blue; 
    padding: 16px 32px;
    border-radius: 16px;
    margin-bottom: 16px;
  }
  
  
  .text-black {
    color: black;
  }
  
  .text-red {
    color: red;
  }
  
  .text-blue {
    color: blue;
  }
  
  .text-green {
    color: green;
  }
  
  .text-orange {
    color: orange;
  }
  
  .text-purple {
    color: purple;
  }
  
 
  .text-small {
    font-size: 24px;
  }
  
  .text-medium {
    font-size: 28px;
  }
  