body {
  text-align: center;
}

.content {
  display: inline;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  transform: translate(-50%, -50%);
  width: 120px;
  height: 40px;
  border: 2px solid blue;
  display: inline;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: aqua;
  border-radius: 5px;
  text-align: center;
}

.btn > a {
  display: inline;

  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  transform: translate(-50%, -50%);
}
