body {
  text-align: center;
}

.screen {
  display: inline;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  margin: 40px auto;
  font-size: 30px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 99%;
  padding: 1px;
  position: relative;
} */

.cell {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

button {
  width: 200px;
  height: 40px;
  margin: 30px 100px;
  background-color: blue;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
}

.button-dis {
  pointer-events: none;
  opacity: 0.4;
}

.modal {
  border: 2px solid black;
  background-color: aliceblue;
}

.ui-dialog-titlebar {
  display: none;
}
