<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/game.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/popup.css">

  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

<div class="container">
  <div class="stopwatch">
    <span id="display">00:00:00</span>
  </div>

  <div class="game-table">
  </div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <h2>Результати</h2>
      <div class="results">
        <div class="results-header__item">
          Назва гри
        </div>
        <div class="results-header__item">
          Час
        </div>
      </div>
      <button class=" btn btn-start" id="start-new-game">
        Нова гра
      </button>
    </div>
  </div>

</div>


<script src="../js/game.js">
</script>
</body>
</html>
