body {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    font-family: "Proba Pro", serif;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    color: red;
    font-size: 30px;
}

#UrlGame {
    background-color: dodgerblue;
    color: white;
    padding: 5px 40px 5px 40px;
}

#UrlMenu {
    background-color: dodgerblue;
    color: white;
    padding: 5px 40px 5px 40px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.settings-el {
    color: black;
}




#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#table {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cell {
    cursor: pointer;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.selected {
    border: 2px rgb(0, 255, 55) solid;
}

#start {
    background-color: dodgerblue;
    color: white;
    padding: 5px 40px 5px 40px;
}