.main-screen {
    border: 2px solid #000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: pink; 
  }

  #start-button {
    color: black; 
    background-color: green; 
    padding: 10px 20px; 
  }

  #start-button:active {
    filter: brightness(120%);
  }
  
  .number {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 5px;
    border: 2px solid #000;
    transition: filter 0.3s;
  }

  .screen{
    border: 2px solid #000;
    width: 269px;
  }
  .selected {
    color: red;
}

 .results-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  #return-to-game {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #return-to-game:hover {
    background-color: #0056b3;
  }