body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin: 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #59ff00;
    color: darkkhaki;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameContainer {
    margin: 20px;
}

.exitButton {
    background-color: #FF3333;
}

#message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    min-height: 50px;
}