* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.button-green {
  background-color: rgb(0, 253, 42);
  color: white;
  border-style: none;
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}
.button-green:hover {
  transform: scale(1.1);
}
.title-purple {
  color: rgb(255, 0, 242);
  font-size: 34px;
  margin-bottom: 30px;
}
.page1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  gap: 15px;
}
.tableGame {
  display:grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
  gap: 5px;
  border: 2px black solid;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.gridCell {
  width: 110%;
  height: 110%;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.gridCell:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.gridCell__variant-1 {
  font-size: 44px;
  color: sandybrown;
}
.gridCell__variant-2 {
  font-size: 38px;
  color: indianred;
}
.gridCell__variant-3 {
  font-size: 34px;
  color: cornflowerblue;
}
.gridCell__variant-4 {
  font-size: 28px;
  color: yellow;
}
.gridCell__variant-5 {
  font-size: 20px;
  color: forestgreen;
}
.page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 20px;
}
.custTable {
  width: 70%;
  border-collapse: collapse;
  margin: 35px auto;
}
th, td {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 14px;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}

.gridCell:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}