
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #23527c;
}

#screen1, #screen2, #screen3 {
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 5px #aaa;
}

#screen2, #screen3 {
    display: none;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 250px;
    margin: 0 auto;
}



.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    font-size: 14px;
    color: white;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.brown {
    background-color: brown;
}
.grey {
    background-color: grey;
}
.lime {
    background-color: lime;
}






.cell:hover {
    background-color: #f0f0f0;
}


.cell span {
    color: inherit;
}

#resultsTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

#resultsTable, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #337ab7;
    color: #fff;
}


#screen1, #screen2, #screen3 {
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 5px #aaa;
}

#screen2, #screen3 {
    display: none;
}





